version: "3.5"

services:
  mfe-profile:
    container_name: "{{ project.name}}_mfe_profile"
    image: {{ mfe_profile_docker_image }}
    {% if project.runmode.name == "debug" and mfe_profile_repository and mfe_profile_repository.is_dir() -%}
    command: yarn add --modules-folder /openedx/microfrontend/node_modules ./ && fedx-scripts webpack-dev-server --progress --disable-host-check
    volumes:
      - {{ mfe_profile_repository.absolute() }}:/openedx/microfrontend
    {% endif -%}
    networks:
      derex:
        aliases:
          - profile.{{ project.name}}.localhost
          - profile.{{ project.name}}.localhost.derex
          {% for alias in mfe_profile_aliases -%}
          - {{ alias }}
          {% endfor %}

  lms:
    environment:
      DEREX_PROFILE_MICROFRONTEND_URL: http://profile.{{ project.name}}.localhost
      DEREX_PROFILE_MICROFRONTEND_ALIASES: "{{ mfe_profile_aliases | tojson }}"

  cms:
    environment:
      DEREX_PROFILE_MICROFRONTEND_URL: http://profile.{{ project.name}}.localhost
      DEREX_PROFILE_MICROFRONTEND_ALIASES: "{{ mfe_profile_aliases | tojson }}"
